<!DOCTYPE html>
<html lang="en">
    <head>
        
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta charset="utf-8">
        <title>Ashton's Website</title>
        
         <!-- List of style sheets-->
         
         <link rel="stylesheet" href="..\static\main\css\header.css" >
         <link rel="stylesheet" href="..\static\main\css\navbar.css" >
         <link rel="stylesheet" href="..\static\main\css\main.css" >
         <link rel="stylesheet" href="..\static\main\css\footer.css" >
        
    </head>
    

    <body>
        <header>
            <!-- This is a comment -->
             
             <img src="..\static\main\images\banner.jpg" alt="Banner" loading="lazy">
        </header>

        

        <nav>
            <ul class="navleft"> <!-- list of links -->
                <li>CSE 477 - Homework 1</li>
            </ul>
            <div class="menu_icon">
                <img src="../static/main/images/menu-bar.png" alt="Menu" loading="lazy">
            </div>
            <ul class="navright">
                <li><a href="/home.html">Home</a></li>
                <li><a href="/projects.html">Projects</a></li>
                <li><a href="..\static\main\images\AshtonKushner-Resume.PDF">Resume</a></li>
                <li class="linkedin-item">
                    <a href="https://www.linkedin.com/in/ashton-kushner-9b52b32a6">
                        <img src="..\static\main\images\social-linkedin.png" alt="LinkedIn icon" loading="lazy" class="linkedin-icon">
                        <span class="linkedin_text">LinkedIn</span>
                </a>
            </li>
            </ul>
        </nav>

        <main>
            <div class="content_row">
                <div class="image_column">
                    <img src="..\static\main\images\linkedinpic.png" alt="LinkedIn Profile picture" loading="lazy"> <!-- The image -->
                </div>
                
                <div class="text_column">
                    <p>Ashton Kushner</p> <!-- The name -->
                <p>is an undergraduate student at MSU majoring in both Computer Science and Studio Art, with a concentration in painting. He is also in the comic minor and has made ~5 comics and specializes in oil paintings. He thinks software development is alright. </p> <!-- Brief Description -->
                </div>
            </div>
            <p class="funfact">Fun Fact: He is the 2024-2025 president of the MSU Graphic Novels Club!</p> <!-- Fun Fact -->
        </main>

        <footer>
            <f1>© 2025 Ashton Kushner </f1>
        </footer>
    </body>
</html>