<!DOCTYPE html>
<html lang="en">
    <head>
        
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta charset="utf-8">
        <title>Ashton's Piano</title>
        <link rel="stylesheet" href="..\static\piano\css\piano.css" >
        
         <!-- List of style sheets-->
         
         <link rel="stylesheet" href="..\static\main\css\header.css" >
         <link rel="stylesheet" href="..\static\main\css\navbar.css" >
         <link rel="stylesheet" href="..\static\main\css\main.css" >
         <link rel="stylesheet" href="..\static\main\css\footer.css" >
        
    </head>
    

    <body>
        <header>
            <!-- This is a comment -->
             
             <img src="..\static\main\images\banner.jpg" alt="Banner" loading="lazy">
        </header>

        <div class="menu_icon">
            <img src="../static/main/images/menu-bar.png" alt="Menu" loading="lazy">
        </div>

        <nav>
            <ul class="navleft"> <!-- list of links -->
                <li>CSE 477 - Homework 1</li>
            </ul>
            <ul class="navright">
                <li><a href="/home.html">Home</a></li>
                <li><a href="/projects.html">Projects</a></li>
                <li><a href="..\static\main\images\AshtonKushner-Resume.PDF">Resume</a></li>
                <li class="linkedin-item">
                    <a href="https://www.linkedin.com/in/ashton-kushner-9b52b32a6">
                        <img src="..\static\main\images\social-linkedin.png" alt="LinkedIn icon" loading="lazy" class="linkedin-icon">
                        <span class="linkedin_text">LinkedIn</span>
                </a>
            </li>
            </ul>
        </nav>

        <main>
            <p>"Behold piano great and old, it's master slumbers in far off cold, If you wish to see anew, call out to it - we see you."</p>
            <div id="piano">
            <p>The Great Old One</p>
                <div id="pianokeys">
                    
                    <div class="whitekey" data-key="65" letter = "A"> <p class="each_key">A</p></div>
                    <div class="blackkey" data-key="87" letter = "W"> <p class="each_key">W</p></div>
                    <div class="whitekey" data-key="83" letter = "S"> <p class="each_key">S</p></div>
                    <div class="blackkey" data-key="69" letter = "E"> <p class="each_key">E</p></div>
                    <div class="whitekey" data-key="68" letter = "D"> <p class="each_key">D</p></div>
                    <div class="whitekey" data-key="70" letter = "F" > <p class="each_key">F</p></div>
                    <div class="blackkey" data-key="84" letter = "T"> <p class="each_key">T</p></div>
                    <div class="whitekey" data-key="71" letter = "G"> <p class="each_key">G</p></div>
                    <div class="blackkey" data-key="89" letter = "Y"> <p class="each_key">Y</p></div>
                    <div class="whitekey" data-key="72" letter = "H"> <p class="each_key">H</p></div>
                    <div class="blackkey" data-key="85" letter = "U"> <p class="each_key">U</p></div>
                    <div class="whitekey" data-key="74" letter = "J"> <p class="each_key">J</p></div>
                    <div class="whitekey" data-key="75" letter = "K"> <p class="each_key">K</p></div>
                    <div class="blackkey" data-key="79" letter = "O"> <p class="each_key">O</p></div>
                    <div class="whitekey" data-key="76" letter = "L"> <p class="each_key">L</p></div>
                    <div class="blackkey" data-key="80" letter = "P"> <p class="each_key">P</p></div>
                    <div class="whitekey" data-key="186" letter = ";"> <p class="each_key">;</p></div>

                    
                    </div>
                </div>
            </div>
            <div id="great-old-one">
                <img src="../static/piano/images/texture.jpeg" alt="The Great Old One" loading="lazy">
              <script src="../static/piano/js/piano.js" defer></script>
        </main>

        <footer>
            <f1>© 2025 Ashton Kushner </f1>
        </footer>
    </body>
</html>